
#clear{
    width: 250px;
}
.formstyle{
    width:242px;
    height: 350px;
    margin:auto;
    border:2px white ;
}
/* input{
    width: 75px;
    padding: 5px ;
    background-color: white;
    color:black;
    border: 2px solid black;

} */
input{
    width: 75px;
    padding: 5px ;
    background-color: rgb(44, 42, 42);
    color: whitesmoke;

}
#answerstyle{
    width: 230px;
}